<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" id="inputsearch" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id="search">Search</button>
  </form>

</nav>


<div class="container">
     <input class="form-control mr-sm-2" type="search" id="inputsearchimg" placeholder="enter url here" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" id="searchimg">Search</button>
<ul class="main">

</ul>
    <ul class="img">

    </ul>
<div class="row">
    <div class="col-sm-4 col1">

    </div>
     <div class="col-sm-4 ol2">

    </div>
     <div class="col-sm-4 col3">

    </div>

</div>
</div>
</body>
<script>
     $(document).on('click', '#search', function(e) {
        e.preventDefault()
        var quotations = [];
        var input = $('#inputsearch').val()
        $.ajax({
            type: 'POST',
            url: '/search',
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            data: {
                input: input,
            },
            dataType: 'JSON',
            success: function(data) {
                for (let i = 0; i < data.length; i++) {
                 // quotations.push(data[i]);
                  var html = '<li><span class="weburl" data-id="'+data[i]+'">'+data[i]+'</span></li>'
                  $('.main').append(html)
                }
                //console.log(quotations)
            },
        });
    });

    $(document).on('click', '.weburl', function(e) {
        e.preventDefault()
        var input = $(this).data('id')
        console.log('input',input)
        $.ajax({
            type: 'POST',
            url: '/web/scrape',
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            data: {
                input: input,
            },
            dataType: 'JSON',
            success: function(data) {
               console.log(data)
               $('.col1').append(data)
               $('.votecell').remove()
               $('.mt24').remove();
               $('.mb0').remove();
               $('#post-form').remove();
               $('.bottom-notice').remove()
            },
        });
    });

     $(document).on('click', '#searchimg', function(e) {
        e.preventDefault()
        var input = $('#inputsearchimg').val()
        $.ajax({
            type: 'POST',
            url: '/find/image/url',
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            },
            data: {
                input: input,
            },
            dataType: 'JSON',
            success: function(data) {
            for (let i = 0; i < data.length; i++) {
                 // quotations.push(data[i]);
                  var html = '<li><img src="'+data[i]['src']+'"></li>'
                  $('.img').append(html)
                }
                 console.log(data)
            },
        });
    });

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
</html>